$footer-height: 150px;
.page {
    height: 100vh;
}

.container-fluid {
    min-height: calc(100vh - 150px);
    background-image: url("https://doodad.dev/pattern-generator?ref=lapaninja");
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 2px 2px #000;
}

footer {
    height: $footer-height;
}